.__mem {
  &_outer-cont {
    display: flex;
    flex-direction: row;
    > * {
      flex: 1 0;
    }

    &.__mem_vertical-layout {
      flex-direction: column;
    }
  }

  &_option-panel {}
  &_stats-panel {}

  &_inner-cont {
    display: flex;
    flex-direction: column;
    perspective: 3000px;
    padding: 3px;
  }

  &_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &_tile {
    width: 60px;
    height: 60px;
    margin: 3px;
    font-size: 20px;

    user-select: none;

    transition: transform .25s ease-out;
    position: relative;
    transform-style: preserve-3d;
    z-index: 2;

    &-front, &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      z-index: 1;

      border-radius: 6px;
    }
    &-front {
      background: #6A1B9A;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
      overflow: hidden;

      > svg {
        width: 100%;
        height: auto;
        fill: #FFFF00;
      }
    }
    &-back {
      background: #6A1B9A;
      transform: rotateY(.5turn);
      cursor: pointer;
    }
  }

  &_hidden {
    transform: rotateY(.5turn);
  }
  &_shown {
    transform: rotateY(0);
  }

  &_anim {
    &_cancel {
      animation: __MemAnimCancel .5s ease;
    }
    &_unmatch {
      animation: __MemAnimUnmatch .2s .3s ease-in-out;
    }
    &_match {
      animation: __MemAnimMatch .6s .3s ease;
    }
  }
}

@keyframes __MemAnimCancel {
  0%   { transform: rotateZ(0); }
  25%  { transform: rotateZ(5deg); }
  75%  { transform: rotateZ(-5deg); }
  100% { transform: rotateZ(0); }
}

@keyframes __MemAnimUnmatch {
  0%  { transform: rotateZ(0); }
  30% { transform: rotateZ(10deg); }
  80% { transform: rotateZ(-10deg); }
  90% { transform: rotateZ(0); }
}

@keyframes __MemAnimMatch {
  0%   { transform: scale3d(1, 1, 1); }
  30%  { transform: scale3d(1.15, 0.85, 1); }
  40%  { transform: scale3d(0.85, 1.15, 1); }
  50%  { transform: scale3d(1.07, 0.93, 1); }
  65%  { transform: scale3d(0.98, 1.02, 1); }
  75%  { transform: scale3d(1.02, 0.98, 1); }
  100% { transform: scale3d(1, 1, 1); }
}
